on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master

jobs:
  typecheck:
    runs-on: ubuntu-latest
    name: Typechecking
    if: github.event.pull_request.draft == false
    steps:
    - name: "Clone repository"
      uses: actions/checkout@v2
    - name: Run Agda
      id: typecheck
      uses: ayberkt/agda-github-action@v3.4
      with:
        main-file: AllModulesIndex.lagda
        source-dir: source
        unsafe: true
    - name: Upload HTML
      id: html-upload
      if: github.ref == 'refs/heads/master'
      uses: actions/upload-artifact@v3
      with:
        name: html
        path: source/html
