on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master

jobs:
  typecheck:
    runs-on: ubuntu-latest
    name: Typechecking
    if: github.event.pull_request.draft == false
    steps:
    - name: "Clone repository"
      uses: actions/checkout@v4

    - name: "Print some stuff"
      shell: bash
      run: |
        echo "branch = ${{ github.ref_name }}"
        echo "head_sha = ${{ github.event.base_ref }}"
        echo "head_prec_sha = ${{ github.event.before }}"

    - name: "Restore cached .agdai files"
      id: cache-agdai-restore
      uses: actions/cache/restore@v4
      with:
        path: _build
        key: ${{ runner.os }}-agdai-cache

    - name: Run Agda
      id: typecheck
      uses: ayberkt/agda-github-action@v3.4
      with:
        main-file: AllModulesIndex.lagda
        source-dir: source
        unsafe: true

    - name: "Save .agdai files"
      id: cache-agdai-save
      uses: actions/cache/save@v4
      with:
        path: _build
        key: ${{ steps.cache-agdai-restore.outputs.cache-primary-key }}

    - name: Upload HTML
      id: html-upload
      if: github.ref == 'refs/heads/master'
      uses: actions/upload-artifact@v3
      with:
        name: html
        path: source/html
