on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master

concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  typecheck:
    runs-on: ubuntu-latest
    name: Typechecking
    if: github.event.pull_request.draft == false
    steps:
    - name: "Clone repository"
      uses: actions/checkout@v4

    - name: "Print environment information"
      shell: bash
      run: |
        echo "github.ref_name = ${{ github.ref_name }}"
        echo "github.sha = ${{ github.sha }}"
        echo "github.event.before = ${{ github.event.before }}"
        echo "github.event.after = ${{ github.event.after }}"
        echo "github.event.pull_request.head.sha = ${{ github.event.pull_request.head.sha }}"

    - name: "Restore cached .agdai files"
      id: cache-agdai-restore
      uses: actions/cache/restore@v4
      with:
        path: _build
        key: ${{ runner.os }}-agdai-cache-${{ github.ref_name }}-${{ github.event.before }}
        restore-keys: |
          ${{ runner.os }}-agdai-cache-${{ github.ref_name }}-

    - name: Run Agda
      id: typecheck
      uses: ayberkt/agda-github-action@type-topology
      with:
        main-file: AllModulesIndex.lagda
        source-dir: source
        unsafe: true

    - name: "Save .agdai files"
      id: cache-agdai-save
      uses: actions/cache/save@v4
      with:
        path: _build
        key: ${{ runner.os }}-agdai-cache-${{ github.ref_name }}-${{ github.event.after }}

    - name: Upload HTML
      id: html-upload
      if: github.ref == 'refs/heads/master'
      uses: actions/upload-artifact@v4
      with:
        name: html
        path: source/html

    - name: Upload GitHub Pages HTML
      uses: actions/upload-pages-artifact@v3
      with:
        path: source/html

  deploy:
    needs: typecheck
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    permissions:
      pages: write
      id-token: write
    if: github.ref == 'refs/heads/master'
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
